<html>
    <head>
        <title>Shiguy's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Shiguy's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is a test... you failed</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Strawberries are objectively good</p>
        </div>
    </body>
</html>
